{{title "vehicledb" separator=" / "}}
{{head-layout}}
{{#bs-navbar position="fixed-top" type="dark" backgroundColor="dark" collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}
    <img src="/assets/images/comma-in-bubble-white.png" /> <span class="logo-part1">vehicle</span><span class="logo-part2">db</span>{{/link-to}}
  </div>

  {{#navbar.content}}
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      {{!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search or jump to...</button> --}}
    </form>
    {{#navbar.nav class="mr-auto" as |nav|}}
      {{#nav.item}}{{#nav.link-to "index"}}Vehicles{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}
    
    {{!-- {{#navbar.nav class="ml-auto" as |nav|}}
      {{#if session.isAuthenticated}}
        {{#nav.dropdown as |dd|}}
          {{#dd.toggle}}
            {{fa-icon 'user-circle'}} jfrux <span class="caret"></span>{{/dd.toggle}}
            {{#dd.menu align="right" as |ddm|}}
              {{#ddm.item}}{{#ddm.link-to "index"}}Settings{{/ddm.link-to}}{{/ddm.item}}
              {{#ddm.item}}{{#ddm.link-to "user.vehicles"}}My Vehicles{{/ddm.link-to}}{{/ddm.item}}

              {{#ddm.item}}<a href="" {{action "logout" }}>Logout</a>{{/ddm.item}}
            {{/dd.menu}}
        {{/nav.dropdown}}
      {{else}}
        {{#bs-button type="dark" outline=true onClick=(action "login")}}{{fa-icon 'github' prefix="fab"}} Log In with GitHub{{/bs-button}}
      {{/if}}
    {{/navbar.nav}} --}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class="container-fluid">
  <div class="page-content">
    {{outlet}}
  </div>
</div>